<% layout('layouts/boilerplate')%>

<div class="row">
    <h1 class="text-center">New Tourist Spot</h1>
    <div class="col-6 offset-3">
        <form
            class="needs-validation"
            action="/tourspots/new"
            method="POST"
            enctype="multipart/form-data"
            novalidate
        >
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input
                    class="form-control"
                    type="text"
                    id="title"
                    name="tourspot[title]"
                    required
                />
            </div>

            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input
                    class="form-control"
                    type="text"
                    id="location"
                    name="tourspot[location]"
                    required
                />
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Add Images</label>
                <input
                    class="form-control"
                    name="tourspot[image]"
                    type="file"
                    id="image"
                    multiple
                />
            </div>

            <div class="mb-3">
                <label class="form-label" for="expected_budget"
                    >Expected Budget</label
                >
                <div class="input-group mb-3">
                    <span class="input-group-text" id="expected_budget">₹</span>
                    <input
                        type="text"
                        class="form-control"
                        placeholder="0"
                        aria-label="expected_budget"
                        aria-describedby="expected_budget"
                        name="tourspot[expected_budget]"
                        required
                    />
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea
                    class="form-control"
                    type="text"
                    id="description"
                    name="tourspot[description]"
                    required
                ></textarea>
            </div>

            <div class="mb-3">
                <button class="btn btn-success">Add Tourist Spot</button>
            </div>
        </form>
        <a href="/tourspots">All Tourist Spots</a>
    </div>
</div>
