.home-app-bar {
    background: transparent !important;
    box-shadow: none !important;
}

.button-text {
    font-weight: 700 !important;
    color: rgba(255, 255, 255, 0.5);
    padding: 0.25rem 0;
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
}

.button-text:hover {
    color: rgba(255, 255, 255, 0.5);
    border-bottom-color: rgba(255, 255, 255, 0.5);
}

.menu-buttons button:hover {
    background: transparent;
}

.button-text.active {
    color: white;
    border-bottom-color: white;
}
